attrs==24.3.0
aws-cdk.cloud-assembly-schema==1.204.0
aws-cdk.core==1.204.0
aws-cdk.cx-api==1.204.0
aws-cdk.region-info==1.204.0
boto3==1.35.96
botocore==1.35.96
cattrs==24.1.2
constructs==3.4.344
importlib_resources==6.5.2
jmespath==1.0.1
jsii==1.106.0
publication==0.0.3
python-dateutil==2.9.0.post0
s3transfer==0.10.4
six==1.17.0
typeguard==2.13.3
typing_extensions==4.12.2
urllib3==2.3.0
